In [1]:
import sqlite3

In [2]:
import pandas as pd

df_trucks = pd.read_excel(r"C:\Users\pstanam.MRX\Downloads\OneDrive_2026-02-23\McCraken Ticket System\Data to be imported for ticket system.xlsx",sheet_name="Trucks")
df_trucks.rename(columns={"Truck Number": "truck_number", "Driver Name": "driver_name","Trucking Company": "trucking_company", "License Plate": "license_plate"}, inplace=True)
df_trucks = df_trucks.iloc[1:].reset_index(drop=True)
df_customers = pd.read_excel(r"C:\Users\pstanam.MRX\Downloads\OneDrive_2026-02-23\McCraken Ticket System\Data to be imported for ticket system.xlsx",sheet_name="Customers")
df_materials = pd.read_excel(r"C:\Users\pstanam.MRX\Downloads\OneDrive_2026-02-23\McCraken Ticket System\Data to be imported for ticket system.xlsx",sheet_name="Material")
df_materials['5']=df_materials['Rev# 11\n4/5 Axle']
df_materials.rename(columns={'Rev# 11\n1 Axle':'1', 'Rev# 11\nTandem':'2', 'Rev# 11\nTriAxle':'3', 'Rev# 11\n4/5 Axle':'4', 'Rev# 11\n6 Axle':'6', 'Rev# 11\nSemi':'7', 'Rev# 11\nHydVac':'8','Rev# 11\nDIRT IN':'9'}, inplace=True)

In [4]:
conn = sqlite3.connect("data/tickets.db")
conn.row_factory = sqlite3.Row
cursor = conn.cursor()


for index, row in df_trucks.iterrows():
    axle =row["Size"]
    truck_size_label = f"axle{axle}"
    cursor.execute("""
        INSERT INTO trucks_main (truck_number, trucking_company, notes, truck_size, phone, license_plate)
        VALUES (?, ?, ?, ?, ?, ?)
    """, (row['truck_number'], row['trucking_company'], row['Notes'], truck_size_label, row['Phone'], row['license_plate']))

conn.commit()
print("Data inserted successfully!")




try:
    cursor.close()
except:
    pass

try:
    conn.close()
except:
    pass

Data inserted successfully!

In [5]:
conn = sqlite3.connect("data/tickets.db")
conn.row_factory = sqlite3.Row
cursor = conn.cursor()


for index, row in df_materials.iterrows():
    cursor.execute("""
        INSERT INTO material_price (cat, code, material, axle1, axle2, axle3, axle4, axle5, axle6, axle7, axle8, axle9)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, (row['Cat'], row['Code'], row['Material'], row['1'], row['2'], row['3'], row['4'], row['5'], row['6'], row['7'], row['8'], row['9']))

conn.commit()
print("Data inserted successfully!")




try:
    cursor.close()
except:
    pass

try:
    conn.close()
except:
    pass

Data inserted successfully!

In [6]:
df_customers['zip_code_str'] = df_customers['Zip Code'].apply(lambda x: str(int(x)) if pd.notnull(x) else '')

In [7]:
for i in df_customers['Zip Code'].head():
    print(str(int(i)))

44319
44306
44306
44135
44048

In [7]:
parts = [
    "Address Line 1",
    "Address Line 2",
    "City",
    "State",
    "zip_code_str",
]

df_customers[parts] = df_customers[parts].fillna("").astype(str)

df_customers["full_Address"] = (
    df_customers[parts]
    .agg(", ".join, axis=1)
    .str.replace(r",\s*,", ",", regex=True)
    .str.strip(", ")
)

In [9]:
df_customers.columns

Index(['Customer #', 'Customer Name', 'Address Line 1', 'Address Line 2',
       'City', 'State', 'Zip Code', 'Contact', 'Phone #', 'Notes',
       'zip_code_str', 'full_Address'],
      dtype='str')

In [8]:
conn = sqlite3.connect("data/tickets.db")
conn.row_factory = sqlite3.Row
cursor = conn.cursor()


for index, row in df_customers.iterrows():
    cursor.execute("""
        INSERT INTO customers (customer_code, customer_name, full_address, contact_person, phone_number, notes)
        VALUES (?, ?, ?, ?, ?, ?)
    """, (row['Customer #'], row['Customer Name'], row['full_Address'], row['Contact'], row['Phone #'], row['Notes']))

conn.commit()
print("Data inserted successfully!")




try:
    cursor.close()
except:
    pass

try:
    conn.close()
except:
    pass

Data inserted successfully!

In [9]:

try:
    cursor.close()
except:
    pass

try:
    conn.close()
except:
    pass